In [1]:
!pip install folium

Requirement already satisfied: folium in d:\python36\lib\site-packages (0.12.1)
Requirement already satisfied: jinja2>=2.9 in d:\python36\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: numpy in d:\python36\lib\site-packages (from folium) (1.19.5)
Requirement already satisfied: requests in d:\python36\lib\site-packages (from folium) (2.25.1)
Requirement already satisfied: branca>=0.3.0 in d:\python36\lib\site-packages (from folium) (0.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in d:\python36\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\python36\lib\site-packages (from requests->folium) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\python36\lib\site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\python36\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\python36\lib\site-packages (from requests->folium) (1.26.3)

In [5]:
import csv
import pandas as pd

In [8]:
df = pd.read_csv("무장애여행정보.csv",encoding='euc-kr',sep=",")

In [17]:
df1 = df[['위도','경도']]

In [18]:
df1

            위도          경도
0    33.388837  126.240285
1    33.393383  126.239607
2    33.306025  126.806053
3    33.523429  126.863390
4    33.369970  126.206540
..         ...         ...
115  33.254887  126.346203
116  33.533174  126.842109
117  33.270885  126.607739
118  33.174438  126.270584
119  33.357626  126.463032

[120 rows x 2 columns]

0      33.388837
1      33.393383
2      33.306025
3      33.523429
4      33.369970
         ...
115    33.254887
116    33.533174
117    33.270885
118    33.174438
119    33.357626
Name: 위도, Length: 120, dtype: float64

In [28]:
a = df1['위도'][0],df1['경도'][0]
new_list = []
new_list.append(a)

In [39]:
a = []

for i in range(120):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

In [41]:
a[0][0]

0

In [42]:
df1['위도'][0]

33.38883704

In [45]:
for i in range(len(df1)):
    a[i][0] = df1['위도'][i]
    a[i][1] = df1['경도'][i]

In [46]:
a

[[33.38883704, 126.24028500000001],
 [33.39338296, 126.239607],
 [33.30602501, 126.806053],
 [33.52342903, 126.86339],
 [33.36996996, 126.20653999999999],
 [33.30452397, 126.300389],
 [33.54498561, 126.67468170000001],
 [33.390182, 126.23796399999999],
 [33.46983212, 126.4923081],
 [33.43193896, 126.5969],
 [33.25016616, 126.4133496],
 [33.52615097, 126.857052],
 [33.28997366, 126.3682253],
 [33.24749501, 126.553175],
 [33.24415198, 126.559999],
 [33.29898303, 126.168056],
 [33.2378145, 126.42596850000001],
 [33.53976502, 126.63653799999999],
 [33.33828997, 126.265603],
 [33.42996703, 126.85683300000001],
 [33.54018303, 126.64089799999999],
 [33.24992702, 126.278151],
 [33.25194396, 126.32205400000001],
 [33.43970102, 126.823683],
 [33.32414241, 126.8426361],
 [33.452909999999996, 126.48848999999998],
 [33.33911802, 126.268971],
 [33.24512302, 126.42157900000001],
 [33.51296799, 126.54866200000001],
 [33.27598804, 126.30498600000001],
 [33.43964998, 126.629732],
 [33.24254198, 126.567346],
 [33.38101471, 126.84237639999999],
 [33.50213497, 126.453268],
 [33.46689887, 126.93600159999998],
 [33.31439601, 126.27309199999999],
 [33.378634000000005, 126.21641100000001],
 [33.42429391, 126.74344369999999],
 [33.472731, 126.93423600000001],
 [33.32314404, 126.166794],
 [33.22789804, 126.304892],
 [33.40732198, 126.907641],
 [33.460953, 126.915225],
 [33.30538698, 126.289953],
 [33.23665797, 126.388322],
 [33.25146628, 126.41481770000001],
 [33.44680804, 126.666576],
 [33.51865604, 126.48836599999998],
 [33.46195313, 126.31061470000002],
 [33.20508099, 126.277772],
 [33.40303204, 126.77903300000001],
 [33.39622702, 126.345033],
 [33.34284352, 126.1721081],
 [33.34312599, 126.174194],
 [33.34086296, 126.85306499999999],
 [33.473104, 126.35014299999999],
 [33.27611896, 126.170891],
 [33.47120902, 126.48778200000001],
 [33.204364, 126.28948100000001],
 [33.46817401, 126.780961],
 [33.52612599, 126.85705300000001],
 [33.45692298, 126.713742],
 [33.28289104, 126.349971],
 [33.32311696, 126.167882],
 [33.47925673, 126.7029301],
 [33.24541898, 126.57194199999999],
 [33.29190485, 126.5282318],
 [33.311345, 126.458851],
 [33.24962201, 126.562549],
 [33.32600797, 126.255045],
 [33.23899099, 126.5586632],
 [33.36348002, 126.359451],
 [33.305781599999996, 126.58492700000001],
 [33.52555904, 126.584327],
 [33.51544702, 126.528452],
 [33.434908, 126.687546],
 [33.39548598, 126.684925],
 [33.3949658, 126.68413670000001],
 [33.39555999, 126.68486999999999],
 [33.44412197, 126.89367299999999],
 [33.49148702, 126.81113300000001],
 [33.41898867, 126.2623923],
 [33.40324804, 126.67843],
 [33.55121797, 126.69361],
 [33.23955098, 126.608048],
 [33.41327297, 126.752297],
 [33.23714303, 126.515571],
 [33.44466914, 126.54912990000001],
 [33.25473371, 126.40944950000001],
 [33.50612056, 126.53053940000001],
 [33.30629599, 126.38176000000001],
 [33.20739213, 126.2906639],
 [33.4518723, 126.48826609999999],
 [33.51191397, 126.52501799999999],
 [33.44865491, 126.66161899999999],
 [33.50894703, 126.475618],
 [33.35440904, 126.24293700000001],
 [33.48701393, 126.7071114],
 [33.48916003, 126.490821],
 [33.54593997, 126.68886599999999],
 [33.27812199, 126.718671],
 [33.27352309, 126.70336259999999],
 [33.27699596, 126.718313],
 [33.55102703, 126.646813],
 [33.32779901, 126.22581000000001],
 [33.37174198, 126.85490300000001],
 [33.51598598, 126.53025500000001],
 [33.55854602, 126.75426499999999],
 [33.44690703, 126.299067],
 [33.38558896, 126.226657],
 [33.34873298, 126.35718700000001],
 [33.48399603, 126.37710200000001],
 [33.43425698, 126.92641499999999],
 [33.24813497, 126.55590900000001],
 [33.25029499, 126.555104],
 [33.25488701, 126.346203],
 [33.533174, 126.84210900000001],
 [33.27088497, 126.607739],
 [33.17443801, 126.27058400000001],
 [33.35762601, 126.46303200000001]]

In [48]:
import folium

In [51]:
m = folium.Map(location=[33.24460804,126.555626],
              zoom_start=10,
              titels = "Cartodb Positron")

for i in range(len(df)):
    folium.Circle(location=a[i],
                 radius = 50,
                 color = '#00000',
                 fill = 'crimson').add_to(m)
    
    m.save('map.html')

In [52]:
from folium.plugins import HeatMap 

m1 = folium.Map(location=[33.24460804,126.555626],
              zoom_start=10,
              titels = "Cartodb Positron")

HeatMap(a).add_to(m1)
m1.save('map.html')

SyntaxError: invalid character in identifier (<ipython-input-52-aeb206ed437b>, line 1)

In [54]:
from folium.plugins import HeatMap

In [55]:
m1 = folium.Map(location=[33.24460804,126.555626],
              zoom_start=10,
              titels = "Cartodb Positron")

In [56]:
HeatMap(a).add_to(m1)
m1.save('map1.html')